.error-message {
    -fx-text-fill: #ff6b6b;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10 0 10 0;
    -fx-background-color: transparent;
}

.main-menu-root-container {
    -fx-background-image: url("/images/main_menu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
}

.menu-title {
    -fx-text-fill: white;
    -fx-font-size: 100;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 0 0 40 0;
}

.menu-text-field {
    -fx-background-color: #424242;
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-max-width: 600;
    -fx-alignment: center;
    -fx-padding: 15 30 15 30;

    -fx-border-color: white;
    -fx-border-width: 6;
    -fx-border-style: solid;
}

.menu-text-field-error {
    -fx-border-color: #ff6b6b;
    -fx-border-width: 6;
    -fx-background-color: #3a2a2a;
}

#main-menu-button {
    -fx-pref-width: -1;
    -fx-max-width: -1;
    -fx-min-width: -1;

    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#main-menu-button:hover {
    -fx-text-fill: #cfcfcf;
}

.menu-button {
    -fx-background-color: #848484;
    -fx-text-fill: black;
    -fx-font-size: 40;
    -fx-pref-width: 600;
    -fx-alignment: center;
    -fx-padding: 15 30 15 30;

    -fx-border-color: #000000;
    -fx-border-width: 6;
    -fx-border-style: solid;

    /* disable shadow effect */
    -fx-effect: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.menu-button:hover,
.menu-button:focus {
    -fx-background-color: #959595;
    -fx-border-color: #ffffff;
}

.menu-button-error {
    -fx-background-color: #3a2a2a;
    -fx-text-fill: white;
    -fx-font-size: 40;
    -fx-pref-width: 600;
    -fx-alignment: center;
    -fx-padding: 15 30 15 30;

    -fx-border-color: #ff6b6b;
    -fx-border-width: 6;
    -fx-border-style: solid;
}

.menu-text {
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.menu-slider {
    -fx-background-color: #424242;
    -fx-text-fill: black;
    -fx-font-size: 40;
    -fx-max-width: 700;
    -fx-alignment: center;
    -fx-padding: 3 3 3 3;

    -fx-border-color: black;
    -fx-border-width: 6;
    -fx-border-style: solid;
}

.menu-slider .track {
    -fx-background-color: #444444;
    -fx-background-radius: 0; /* square */
    -fx-pref-height: 80;
}

.menu-slider .thumb {
    -fx-background-color: #959595;
    -fx-border-width: 0;
    -fx-border-style: solid;
    -fx-background-radius: 0; /* square */
    -fx-pref-height: 80;
}

.menu-slider .thumb:hover,
.menu-slider .thumb:pressed,
.menu-slider:focused .thumb {
    -fx-background-color: #cdcdcd;
}

.menu-slider-label {
    -fx-text-fill: white;
    -fx-font-size: 40;
    -fx-mouse-transparent: true;
}
