.error-message {
    -fx-text-fill: #ff6b6b;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10 0 10 0;
    -fx-background-color: transparent;
}

.main-menu-root-container {
    -fx-background-image: url("/images/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.menu-title {
    -fx-text-fill: black;
    -fx-font-size: 100;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 0 0 40 0;
}

.menu-text-field {
    -fx-background-color: #424242;
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-max-width: 600;
    -fx-alignment: center;
    -fx-padding: 15 30 15 30;

    -fx-border-color: white;
    -fx-border-width: 6;
    -fx-border-style: solid;
}

.menu-text-field-error {
    -fx-border-color: #ff6b6b;
    -fx-border-width: 6;
    -fx-background-color: #3a2a2a;
}

.menu-button {
    -fx-background-color: #848484;
    -fx-text-fill: black;
    -fx-font-size: 40;
    -fx-pref-width: 600;
    -fx-alignment: center;
    -fx-padding: 15 30 15 30;

    -fx-border-color: #000000;
    -fx-border-width: 6;
    -fx-border-style: solid;
}
.menu-button:hover {
    -fx-background-color: #959595;
    -fx-border-color: #ffffff;
}

.menu-button-error {
    -fx-background-color: #3a2a2a;
    -fx-text-fill: white;
    -fx-font-size: 40;
    -fx-pref-width: 600;
    -fx-alignment: center;
    -fx-padding: 15 30 15 30;

    -fx-border-color: #ff6b6b;
    -fx-border-width: 6;
    -fx-border-style: solid;
}

.menu-text {
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

